In [1]:
import os
import re
import pandas as pd
from sqlalchemy import create_engine
from langchain.chat_models import init_chat_model
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit
from langchain_community.tools.sql_database.tool import (
    InfoSQLDatabaseTool, ListSQLDatabaseTool, QuerySQLCheckerTool, QuerySQLDatabaseTool
)
from langchain_community.agent_toolkits.sql.base import create_sql_agent
from langchain.agents.agent_types import AgentType
from langgraph.graph.state import StateGraph
from pydantic import BaseModel

In [2]:
# Step 1: Set API Key and Initialize LLM
llm = init_chat_model(model="llama3.1:8b", model_provider="ollama", temperature=0)

1. temperature controls the randomness of the model's output
2. temerature = 0 means it makes max deterministic and focused, 
3. meaning it will choose the most likely next word each time, 
4. resulting in less variation and more predictable outputs.

In [3]:
# Step 2: Fetch and Process Files from Folder
folder_path = r"D:\VSCode Programs\Final Output\Database Files"  # Change to your folder path
db_connections = {}  # Stores all database connections

In [4]:
print(f"Searching for files in: {folder_path}...\n")

for file in os.listdir(folder_path):
    file_path = os.path.join(folder_path, file)
    if file.endswith(".db"):
        print(f"Found database: {file}")
        db_name = file.replace(".db", "")
        db_connections[db_name] = SQLDatabase(create_engine(f"sqlite:///{file_path}"))
    elif file.endswith((".xlsx", ".xls", ".csv")):
        print(f"Converting {file} to SQLite...")
        db_name = os.path.splitext(file)[0].replace(" ", "_") + ".db"
        db_path = os.path.join(folder_path, db_name)
        engine = create_engine(f"sqlite:///{db_path}")
        
        if file.endswith(".csv"):
            try:
                df = pd.read_csv(file_path, encoding='utf-8')
            except UnicodeDecodeError:
                df = pd.read_csv(file_path, encoding='latin1')
            table_name = os.path.splitext(file)[0].replace(" ", "_")
            df.to_sql(table_name, con=engine, if_exists="replace", index=False)
            print(f"Created database: {db_name} with table '{table_name}'")
        else:
            xls = pd.ExcelFile(file_path)
            for sheet_name in xls.sheet_names:
                df = pd.read_excel(file_path, sheet_name=sheet_name)
                table_name = sheet_name.replace(" ", "_")
                print(f"Processing sheet: {sheet_name}")
                print(df.head())  # Print the first few rows of the DataFrame to check its content
                if not df.empty:
                    df.to_sql(table_name, con=engine, if_exists="replace", index=False)
                    print(f"Created table '{table_name}' in database: {db_name}")
                else:
                    print(f"Sheet '{sheet_name}' is empty and will not be added to the database.")
        
        db_connections[db_name.replace(".db", "")] = SQLDatabase(engine)

print("Conversion complete.")

Searching for files in: D:\VSCode Programs\Final Output\Database Files...

Converting atmspl_trip_details.csv to SQLite...
Created database: atmspl_trip_details.db with table 'atmspl_trip_details'
Found database: atmspl_trip_details.db
Converting Customer Portfolio.csv to SQLite...
Created database: Customer_Portfolio.db with table 'Customer_Portfolio'
Found database: Customer_Portfolio.db
Converting diabetes.csv to SQLite...
Created database: diabetes.db with table 'diabetes'
Found database: diabetes.db
Found database: IFDP.db
Converting landmark.csv to SQLite...
Created database: landmark.db with table 'landmark'
Found database: landmark.db
Converting Meeting Updates.csv to SQLite...
Created database: Meeting_Updates.db with table 'Meeting_Updates'
Found database: Meeting_Updates.db
Converting road.csv to SQLite...
Created database: road.db with table 'road'
Found database: road.db
Converting Stock Ageing.csv to SQLite...
Created database: Stock_Ageing.db with table 'Stock_Ageing'
Found database: Stock_Ageing.db
Converting titanic.csv to SQLite...
Created database: titanic.db with table 'titanic'
Found database: titanic.db
Converting tps_trip_details.csv to SQLite...
Created database: tps_trip_details.db with table 'tps_trip_details'
Found database: tps_trip_details.db
Converting Zone Excel.xlsx to SQLite...
Processing sheet: Input
  Input Max Vessel Size  Ocean Frt  Road Handling  Rake Handing  \
0   KPT            Cape       14.0          475.0         590.0
1   KPT         Panamax        NaN            NaN           NaN
2   Goa  Lightened cape       15.5          340.0         435.0
3   Goa         Panamax       16.0          340.0         435.0
4  NMPT  Lightened cape       14.0          350.0         370.0

   Indo Ocean Frt  RSA Ocean Frt  Aus Ocean Frt  USA Ocean Frt
0             8.0          12.00          12.00           35.0
1             9.5          13.75          13.75            NaN
2            11.0            NaN            NaN            NaN
3            10.0          13.50          13.50            NaN
4             9.5            NaN            NaN            NaN
Created table 'Input' in database: Zone_Excel.db
Processing sheet: Budget
  Business Segment    Zone          Customer Name  Trader Industry Segment  \
0            Sales  Zone 6        Coastal Energen   Swamy              IPP
1              TPH  Zone 5       Meenakshi Energy    Kasi            Power
2            Sales  Zone 6                  IL&FS  Sriram              IPP
3              TPH  Zone 5  Electrosteel Castings    Kasi       Iron/Steel
4              TPH  Zone 5              Kirloskar    Kasi       Iron/Steel

  Discharge Port Load Port Country          Grade Total Sales
0      Tuticorin              INDO  INDO-4200 GAR     2000000
1  Krishnapatnam               NaN            NaN      600000
2       Karaikal              INDO  INDO-4200 GAR      450000
3  Krishnapatnam               AUS            NaN      300000
4  Krishnapatnam               AUS            NaN      300000
Created table 'Budget' in database: Zone_Excel.db
Processing sheet: Meeting Updates
   SI No. Meeting Date    Zone Trader Name         Customer Name  \
0       1   2024-11-14  Zone 8       Suraj  MB Sponge / MB Ispat
1       2   2024-11-14  Zone 8       Suraj             CP Sponge
2       3   2024-11-15  Zone 8      Sudesh          Rajshri Iron
3       4   2024-11-15  Zone 8       Suraj           Satyam Iron
4       5   2024-11-15  Zone 8       Suraj        Satyam Smelter

  Name of the person visited  \
0            Arvind Agarwal
1         Kumar Chand Chawla
2            Abhishek Sharma
3              Rahul Agarwal
4              Rajeev Dalmia

                                         Interaction  \
0  Visited their plant. They consume 44 FC domest...
1  Visited their plant. They currently consume 44...
2  Visited their Plant. Currently consumes 45 FC ...
3  Visited their Plant. Currently consumes 44FC d...
4  Visited their Plant. Consumes 44FC domestic co...

                                              Action
0    Expected to be Offering 55NAR Cargo by Jan ’25.
1  Due to the softening price trend in sponge, th...
2  We Offered 55NAR cargo at ₹ 10,450++ at Haldia...
3  Due to softening sponge iron prices, they plan...
4  Expected to operational by March 2025 so we ca...
Created table 'Meeting_Updates' in database: Zone_Excel.db
Processing sheet: Updates & Issues
   Sr. No.    Zone     Particulars  \
0        1  Zone 5   Sponge Sector
1        2  Zone 5   Cement Sector
2        3  Zone 5             IPP
3        4  Zone 5   Other Updates
4        5  Zone 5  Live Enquiries

                                             Remarks
0  1. Sponge price around Rs. 27000 - 28000 PMT. ...
1  1. No enquiry for US coal. Major Cement produc...
2  1. Private IPPs already slowing down power pro...
3  1. No Major Development in down south Retail M...
4  2. JSW Steels -150 KT, Indo 48, JGD\n3. MEL - ...
Created table 'Updates_&_Issues' in database: Zone_Excel.db
Processing sheet: Dispatch Market Share
     Zone      Port Origin  Grade Updating Date AEL dispatch YTD (MT)  \
0  Zone 7       GPL   INDO    NaN    2024-12-05                498967
1  Zone 7       GPL    RSA    NaN    2024-12-05            6455161884
2  Zone 7       GPL    AUS    NaN    2024-12-05                205036
3  Zone 7  GOPALPUR    RSA    NaN    2024-12-05             800001884
4  Zone 8       NaN    NaN    NaN    2024-12-02            1442591.22

  Competitor dispatch YTD (MT) AEL dispatch Current Fortnight (MT)  \
0                      2375552                               27288
1                      3177533                               34053
2                        94471                                4446
3                       374102                                   0
4                      5130862                                 NaN

  Competitor dispatch current fortnight (MT)  Market share
0                                     159141           NaN
1                                     111166           NaN
2                                          0           NaN
3                                      14430           NaN
4                                        NaN           NaN
Created table 'Dispatch_Market_Share' in database: Zone_Excel.db
Found database: Zone_Excel.db
Conversion complete.

In [5]:
# Step 3: Create SQL Agents for Each Database
db_agents = {}
for db_name, db in db_connections.items():
    toolkit = SQLDatabaseToolkit(db=db, llm=llm)
    db_agents[db_name] = create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
        verbose=True
    )

1. Setting up a toolkit for interacting with an SQL database using a language model
2. Leverage the language model to generate SQL queries, interpret results, 
3. Or perform other database-related tasks more efficiently
4. list_tables_tool = ListSQLDatabaseTool(db=db): tool to list/display tables names in your SQL database
5. InfoSQLDatabaseTool(db=db): detailed information about DB, such as schema details, table structures, metadata
6. QuerySQLCheckerTool(db=db, llm=llm): validate or analyze SQL queries to ensure they are correct and optimized
7. QuerySQLDatabaseTool(db=db): facilitate running queries and retrieving results

In [6]:
# Step 4: Fetch Schema Information
schema_info = {}
for db_name, db in db_connections.items():
    print(f"\nFetching tables for {db_name}...")
    list_tables_tool = ListSQLDatabaseTool(db=db)
    tables = list_tables_tool.run("")
    schema_info[db_name] = {}
    for table in tables.split(", "):
        info_tool = InfoSQLDatabaseTool(db=db)
        schema_info[db_name][table] = info_tool.run(table)
        print(f"Schema retrieved for {table} in {db_name}")

Fetching tables for atmspl_trip_details...
Schema retrieved for atmspl_trip_details in atmspl_trip_details

Fetching tables for Customer_Portfolio...
Schema retrieved for Customer_Portfolio in Customer_Portfolio

Fetching tables for diabetes...
Schema retrieved for diabetes in diabetes

Fetching tables for IFDP...
Schema retrieved for Coal_IFDP_Daily_Index_Accuracy_Table in IFDP
Schema retrieved for Coal_IFDP_Dynamic_Pricing_MAP_Actual_Pred in IFDP
Schema retrieved for Coal_IFDP_Historic_Pricing_Monthly in IFDP

Fetching tables for landmark...
Schema retrieved for landmark in landmark

Fetching tables for Meeting_Updates...
Schema retrieved for Meeting_Updates in Meeting_Updates

Fetching tables for road...
Schema retrieved for road in road

Fetching tables for Stock_Ageing...
Schema retrieved for Stock_Ageing in Stock_Ageing

Fetching tables for titanic...
Schema retrieved for titanic in titanic

Fetching tables for tps_trip_details...
Schema retrieved for tps_trip_details in tps_trip_details

Fetching tables for Zone_Excel...
Schema retrieved for Budget in Zone_Excel
Schema retrieved for Dispatch_Market_Share in Zone_Excel
Schema retrieved for Input in Zone_Excel
Schema retrieved for Meeting_Updates in Zone_Excel
Schema retrieved for Updates_&_Issues in Zone_Excel

In [7]:
# Step 5: Create LangGraph Query State Schema
class QueryState(BaseModel):
    query: str
    selected_db: str = None
    schema: dict = None
    sql_query: str = None
    validated_sql: str = None
    result: str = None
    chatbot_response: str = None

C:\Users\intern.ai5\AppData\Roaming\Python\Python311\site-packages\pydantic\_internal\_fields.py:192: UserWarning: Field name "schema" in "QueryState" shadows an attribute in parent "BaseModel"
  warnings.warn(

QueryState class is used to define the structure of the state that will be passed through each step of your workflow. Here’s why each part is important:
1. BaseModel: This is likely from Pydantic, a library that helps with data validation and settings management using Python type annotations. It helps in easily serialized to JSON or dictionaries, Data Parsing and reading JSON Schema useful for documentation.
2. query: str: This field stores the natural language query provided by the user.
3. schema: dict: This field holds the database schema information, which is necessary for generating the correct SQL query.
4. sql_query: str = None: This field will store the SQL query generated from the natural language query. It’s initialized to None because it will be populated later in the workflow.
5. validated_sql: str = None: This field will store the validated SQL query after it has been checked for correctness. It’s also initialized to None for the same reason.
6. result: str = None: This field will store the result of the executed SQL query. Again, it’s initialized to None because it will be populated in the final step of the workflow.
7. chatbot_response: str = None: This new field will store the dynamically generated chatbot response based on the query and result. It’s initialized to None because it will be populated after the response is generated.

In [8]:
# Step 6: Define Execution Flow
workflow = StateGraph(QueryState)

StateGraph: A class used to define the execution flow of the workflow, initialized with the QueryState schema.

It is a part of langgraph framework and is used to define, structure and execute the workflows based on state transitions. It act as a Flowchart Engine where:
1. Each node represents a function that transforms data. 
2. Edges define the sequence in which nodes execute.
3. state (data structure) is passed between nodes and updated at each step.

In the following code, it works as:
1. Creates a new state-based graph where Query state is the data strycture that holds information at every step, which means that all nodes in the graph will receive and return an object of type QueryState.

In [9]:
def jaccard_similarity(set1, set2):
    intersection = len(set1 & set2)
    union = len(set1 | set2)
    return intersection / union if union else 0

def select_database(state: QueryState) -> QueryState:
    """Determine the best database and table based on 
    Jaccard similarity with table and column names."""
    query_terms = set(re.findall(r'\b\w+\b', state.query.lower()))
    db_scores = {}
    table_scores = {}

    for db_name, tables in schema_info.items():
        max_table_score = 0
        best_table = None
        for table, schema in tables.items():
            table_terms = set(table.lower().split("_"))
            table_score = jaccard_similarity(query_terms, table_terms)
            column_terms = set(re.findall(r'\b\w+\b', schema.lower()))
            column_score = jaccard_similarity(query_terms, column_terms)
            total_score = max(table_score, column_score)
            
            if total_score > max_table_score:
                max_table_score = total_score
                best_table = table

        db_scores[db_name] = max_table_score
        table_scores[db_name] = best_table

    selected_db = max(db_scores, key=db_scores.get)
    selected_table = table_scores[selected_db]
    print(f"Database selected: {selected_db}")
    print(f"Table selected: {selected_table}")
    return QueryState(query=state.query, selected_db=selected_db, selected_table=selected_table, schema=schema_info[selected_db])

1. This function is a part of LangGraph execution workflow and is responsible for retrieving DB Schema.
2. "state: QueryState": takes a single argument, state whih is an instance of QueryState Class.
3. " -> Query State": type hint (->) indicates that the function returns an instance of QueryState.
4. type hint (->): Indicate what type of value the function returns. Helps in code readability and debugging. It won't hamper the flow of code but for debug, readable, structured.
5. "return ...": It returns an instance of QueryState class.
6. "query = state.query": Keeps the original user query unchanged
7. "selected_db & selected_table": Based on Jaccard Similarity between User Query and Database Schema, Database and Table is being selected.
8. "schema = schema_info[selected_db]": Assigns the schema_info dictionary which contains schema details of the selected database tables to the schema attribute of new QueryState object.

In [10]:
def generate_sql(state: QueryState) -> QueryState:
    """Generate SQL query from the user's query."""
    sql_query = llm.invoke(f"""
        Convert this natural language query into SQL:
        === DATABASE SCHEMA ===
        {state.schema}  
        === USER QUESTION ===
        "{state.query}"
        - Database name and column names can be same.
        - Ensure all relevant columns are considered
        - Do not write column name instead of table name. It generally happens when database table with large number of column names are present.
        - Use appropriate Filtering if the query implies conditions.
        Return only the SQL query.""").content.strip()
    return QueryState(query=state.query, selected_db=state.selected_db, schema=state.schema, sql_query=sql_query)

generate_sql is responsible for converting Natural Language to SQL using a LLM. It takes a QueryState object as input , it generates an SQL Query based on the database schema, and returns a new QueryState object containing the generate SQL.

1. "state:QueryState": Takes Single Argument, state, which is an instanc of QueryState.
2. "-> Query State": With type hint, it indicates the function returns an instance of QueryState.
3. llm.invoke: It calls the LLM to convert NL to SQL. state.schema helps LLM to understand DB Structures, state.query is the question asked by user.
4. content.strip(): It extract and cleans uneccessary white space.
5. query = state.query: Keeps the original user query
6. schema = state.schema: Retains the database schema
7. sql_query: Stores the generated Query.

This ensures that the next step in the Workflow (SQL Validation) gets a properly formatted SQL Query.

In [11]:
def validate_sql(state: QueryState) -> QueryState:
    db = db_connections[state.selected_db]
    valid_columns = set()
    for schema in state.schema.values():
        valid_columns.update(re.findall(r'(\w+)\s\w+', schema))

    query_columns = set(re.findall(r'\bw+\b', state.sql_query.lower()))
    missing_columns = query_columns - valid_columns

    if missing_columns: 
        raise ValueError("Invalid columns in query: {missing_columns}")
    checker_tool = QuerySQLCheckerTool(db=db, llm=llm)
    validated_sql = checker_tool.run(state.sql_query)
    return QueryState(query=state.query, selected_db=state.selected_db, schema=state.schema, sql_query=state.sql_query, validated_sql=validated_sql)

validate_sql is responsible for checking wheether the generated SQL query is valid before executing it. This helps prevent errors by ensuring that SQL Syntax and structure are correct.

1. "state: StateQuery": Takes QueryState object as input.
2. "-> QueryState": Returns a QueryState object as output.
3. "re.findall(r'\bw+\b', VARIABLE)": Finds all sequences of word characters followed by a space and another word in the given VARIABLE string.
4. checker_tool.run(state.sql_query): Calls the validation tool to check if state.sql_query is correct. state.sql_query is the query generate in generate_sql Function.
5. Return a new QueryState object with output parameters.
6. query = state.query: Keeps the original user question.
7. schema = state.schema: Retains the database schema.
8. sql_query = state.sql_query: Stores the generated SQL Query.
9. validated_sql = validated_sql: Stores the validated SQL or error message.

This ensures that only correct SQL queries are processed to the next step execute_sql.

In [12]:
def execute_sql(state: QueryState) -> QueryState:
    """Execute the SQL query and fetch results."""
    query_tool = QuerySQLDatabaseTool(db=db_connections[state.selected_db])
    result = query_tool.run(state.validated_sql)
    return QueryState(query=state.query, selected_db=state.selected_db, schema=state.schema, sql_query=state.sql_query, validated_sql=state.validated_sql, result=result)

execute_sql function is responsible for the validated SQL query on the connected database and Retrieving the results. It ensures that only validated SQL queries are run, prevnting errors and DB crashes.

1. "state: QueryState": Accepts a QueryState object as input.
2. "-> QueryState": Returns a QueryState object as Output.
3. query_tool.run(state.validated_sql): Runs Validated SQL Query on DB. Contains the SQL query that passed validation in validate_sql. Query as Input in this Function and Data Value as output.
4. query = state.query: Keeps the original user question.
5. schema = state.schema: Retains the database schema.
6. sql_query = state.sql_query: Stores the generated SQL Query.
7. validated_sql = state.validated_sql: Keeps the validated SQL query.
8. result=result: Stores the executed query's result.

This ensures that the next step (format_chatbot_response) gets the correct result to generate NL Response.

In [13]:
def format_chatbot_response(state: QueryState) -> QueryState:
    """Generate a chatbot response based on the query and result."""
    chatbot_response = llm.invoke(f"""
        You are a chatbot. Given the following user query and SQL result, generate a natural conversational response.
        === USER QUESTION ===
        {state.query}
        === SQL RESULT ===
        {state.result}
        Provide a user-friendly response.
    """).content.strip()
    return QueryState(query=state.query, selected_db=state.selected_db, schema=state.schema, sql_query=state.sql_query, validated_sql=state.validated_sql, result=state.result, chatbot_response=chatbot_response)

This function generates human-friendly response based on the SQL Query results, where QueryState is given as input object to the format_chatbot_response and "-> QueryState" will return a new QueryStateObject.

1. llm.invoke: Calls the LLM to process the given prompt.The prompt is firmatted text that instructs the LLM on how to generate the chatbot response. Instruct LLM to behave as ChatBot and provide NL {state.query}, result {state.result} and instruct to provide user friendly response in a prompt. 
2. .content: Extracts the actual text response generated by LLM. 
3. .strip(): Removes any unnecessary leading or trailing whitespace.
4. chatbot_response: Stores a well-formatted, NL response based on the SQL Results.
5. "return ...": A new QueryState object is created with query, schema, sql_query, validated_sql, result as before. The new chat_response, now contains a human friendly message. 

This function does not modify the original state object. Instead, it creates a new QueryState ubstabce with the updated chatbot response

In this code QueryState is a Class which means it is here a Data Model that defines attributes, data types, default values. Object of a class is created when you call a function as object(instance) ==> QueryState(BaseModel), here as state: QueryState(...) is written, so state holds the object which holds specific data. It is updated everytime when it is told to. 

1. Class is a blueprint which defines what data it should hold.
2. Object is an actual instance of that blueprint with specific values.

In [14]:
workflow.add_node("select_database", select_database)
workflow.add_node("generate_sql", generate_sql)
workflow.add_node("validate_sql", validate_sql)
workflow.add_node("execute_sql", execute_sql)
workflow.add_node("format_response", format_chatbot_response)

workflow.set_entry_point("select_database")
workflow.add_edge("select_database", "generate_sql")
workflow.add_edge("generate_sql", "validate_sql")
workflow.add_edge("validate_sql", "execute_sql")
workflow.add_edge("execute_sql", "format_response")

executor = workflow.compile()

Nodes are added to the fraph to define execution order. The process flows from Retrieving Schema --> Generating SQL --> Executing SQL --> Formatting the Chatbot Response.

Then, Compile the workflow for execution.
1. add_node("name", function): A method to add a step function to the workflow. "name" is the string identifier for the step. function is the actual identifier for the step.
2. "get_schema", "generate_sql", "validate_sql", "execute_sql": Names of the nodes.
3. get_schema, generate_sql, validate_sql, execute_sql: Corresponding step functions.
4. set_entry_point: First step in the workflow, from where execution begins. 
5. add_edge("A","B"): It connects 2 steps ensuring one executes after the other between two "name". It allows dynamic workflow as per individual's design.

Why name is in  quotes (" ")?
name is the string identifier for the step. Whereas, function is the actual function that performs the step. It is not the actual function but a reference name for tracking the step. It allows to refer to each step by name when setting up the execution order.

Why not just use function names directly?
"name" allows us to easily modify and reference steps without calling function names. Function can have identical names accirss dufferent workflows, but "name" ebsures unique identification within the StateGraph.

In [28]:
import gradio as gr

# Define the function to handle the chatbot interaction
def chatbot_response(history, user_query):
    if user_query.lower() == "exit":
        return history + [("User", user_query), ("Chatbot", "Chatbot: quits")], history, ""
    result = executor.invoke(QueryState(query=user_query))
    response = result['chatbot_response']
    return history + [("User", user_query), ("Chatbot", response)], history, ""

# Custom CSS for styling
custom_css = """
#chatbot {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
}
"""

# Create the Gradio interface
iface = gr.Blocks(css=custom_css)

with iface:
    gr.Markdown("# SQL Chatbot")
    gr.Markdown("Ask me anything about your databases!")
    chatbot = gr.Chatbot()
    state = gr.State([])
    with gr.Row():
        txt = gr.Textbox(show_label=False, placeholder="Type your message here...")
        txt.submit(chatbot_response, [state, txt], [chatbot, state, txt])

# Launch the Gradio interface
iface.launch()

# Ensure the rest of your code is included here, especially the workflow and executor setup

C:\Users\intern.ai5\AppData\Roaming\Python\Python311\site-packages\gradio\components\chatbot.py:285: UserWarning: You have not specified a value for the `type` parameter. Defaulting to the 'tuples' format for chatbot messages, but this is deprecated and will be removed in a future version of Gradio. Please set type='messages' instead, which uses openai-style dictionaries with 'role' and 'content' keys.
  warnings.warn(

* Running on local URL:  http://127.0.0.1:7868

To create a public link, set `share=True` in `launch()`.

Database selected: IFDP
Table selected: Coal_IFDP_Daily_Index_Accuracy_Table

In [15]:
"""
What was the average forecast for API4 in March 2024 in IFDP? 97.73
how many male survived in titanic? 109
In which district, Suratgarh Junction is located in Landmarks? HANUMANGARH
What is the total running average speed of all TPS in TPS Trips? 21.35km/h
How many transporter ar ATMSL? 
wagon id of id = 10036288? first row of atmsl 
Give me all the Customer Name of Zone 5
What is the average of QTY in MT
"""

'\nWhat was the average forecast for API4 in March 2024 in IFDP? 97.73\nhow many male survived in titanic? 109\nIn which district, Suratgarh Junction is located in Landmarks? HANUMANGARH\nWhat is the total running average speed of all TPS in TPS Trips? 21.35km/h\nHow many transporter ar ATMSL? \nwagon id of id = 10036288? first row of atmsl \nGive me all the Customer Name of Zone 5\nWhat is the average of QTY in MT\n'

In [ ]:
while True:
    user_query = input("You: ")
    if user_query.lower() == "exit":
        print("Chatbot: quits")
        break
    result = executor.invoke(QueryState(query=user_query))
    print("You:", user_query)
    print("\nChatbot:", result['chatbot_response'])
    print("\n\n")

# Can be deployed on Streamlit, Gradio, Sharepoint etc. Depending upon the situation

AttributeError: 'Textbox' object has no attribute 'style'

In [16]:
user_query = "What was the average forecast for API4 in March 2024"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)
# Yes

Database selected: IFDP
Table selected: Coal_IFDP_Daily_Index_Accuracy_Table

Chatbot Response: {'query': 'What was the average forecast for API4 in March 2024', 'selected_db': 'IFDP', 'schema': {'Coal_IFDP_Daily_Index_Accuracy_Table': '\nCREATE TABLE "Coal_IFDP_Daily_Index_Accuracy_Table" (\n\tindex_id INTEGER, \n\tindex_name TEXT, \n\tdate TEXT, \n\tactuals REAL, \n\tforecast REAL, \n\tmape REAL, \n\taccuracy REAL, \n\tcreated_at TEXT, \n\tid INTEGER, \n\tPRIMARY KEY (id)\n)\n\n/*\n3 rows from Coal_IFDP_Daily_Index_Accuracy_Table table:\nindex_id\tindex_name\tdate\tactuals\tforecast\tmape\taccuracy\tcreated_at\tid\n1\tAPI4\t2024-03-01 00:00:00.000\t93.38\t92.48\t0.96\t99.04\t2024-03-01 00:00:00.000\t251\n1\tAPI4\t2024-03-04 00:00:00.000\t93.29\t93.87\t0.63\t99.37\t2024-03-04 00:00:00.000\t252\n1\tAPI4\t2024-03-05 00:00:00.000\t94.32\t93.67\t0.69\t99.31\t2024-03-05 00:00:00.000\t253\n*/', 'Coal_IFDP_Dynamic_Pricing_MAP_Actual_Pred': '\nCREATE TABLE "Coal_IFDP_Dynamic_Pricing_MAP_Actual_Pred" (\n\tdate DATE, \n\tcategories VARCHAR(100), \n\tmap FLOAT, \n\tmodel_prediction FLOAT, \n\tport VARCHAR(100)\n)\n\n/*\n3 rows from Coal_IFDP_Dynamic_Pricing_MAP_Actual_Pred table:\ndate\tcategories\tmap\tmodel_prediction\tport\n2025-01-10\tJHN_3800_S\t5525.0\t5484.74\tHazira\n2025-01-10\tBISMBSS_3200_S\t4200.0\t4181.42\tHazira\n2025-01-10\tKUTAI_4200_P_A\t6150.0\t6213.33\tHazira\n*/', 'Coal_IFDP_Historic_Pricing_Monthly': '\nCREATE TABLE "Coal_IFDP_Historic_Pricing_Monthly" (\n\tid INTEGER, \n\t"Index_Id" INTEGER NOT NULL, \n\t"Index_Name" TEXT, \n\t"Monthly_Change" REAL, \n\t"Month" TEXT, \n\t"Monthly_Forecast" REAL, \n\t"Standing_On_Date" TEXT, \n\tPRIMARY KEY (id)\n)\n\n/*\n3 rows from Coal_IFDP_Historic_Pricing_Monthly table:\nid\tIndex_Id\tIndex_Name\tMonthly_Change\tMonth\tMonthly_Forecast\tStanding_On_Date\n39\t2\tICI4200\t1.51\tMay\t56.02\t2024-05-30 00:00:00.000\n40\t2\tICI4200\t0.0\tJune\t55.73\t2024-05-30 00:00:00.000\n41\t2\tICI4200\t0.0\tJuly\t54.81\t2024-05-30 00:00:00.000\n*/'}, 'sql_query': "```sql\nSELECT AVG(forecast) \nFROM Coal_IFDP_Daily_Index_Accuracy_Table \nWHERE index_name = 'API4' AND date LIKE '%2024-03-%';\n```", 'validated_sql': "SELECT AVG(forecast) \nFROM Coal_IFDP_Daily_Index_Accuracy_Table \nWHERE index_name = 'API4' AND date LIKE '%2024-03-%';", 'result': '[(97.7305,)]', 'chatbot_response': "The average forecast for API4 in March 2024 was approximately 97.73 degrees! That's quite warm, isn't it? Would you like to know more about the temperature trends or compare it with other months?"}

In [16]:
user_query = "What is the Total Sales of Coastal Engergen in Zone 6 whose Discharge Port was Tuticorin"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)
# Yes

Database selected: Zone_Excel
Table selected: Budget

Chatbot Response: {'query': 'What is the Total Sales of Coastal Engergen in Zone 6 whose Discharge Port was Tuticorin', 'selected_db': 'Zone_Excel', 'schema': {'Budget': '\nCREATE TABLE "Budget" (\n\t"Business Segment" TEXT, \n\t"Zone" TEXT, \n\t"Customer Name" TEXT, \n\t"Trader" TEXT, \n\t"Industry Segment" TEXT, \n\t"Discharge Port" TEXT, \n\t"Load Port Country" TEXT, \n\t"Grade" TEXT, \n\t"Total Sales" TEXT\n)\n\n/*\n3 rows from Budget table:\nBusiness Segment\tZone\tCustomer Name\tTrader\tIndustry Segment\tDischarge Port\tLoad Port Country\tGrade\tTotal Sales\nSales\tZone 6\tCoastal Energen\tSwamy\tIPP\tTuticorin\tINDO\tINDO-4200 GAR\t2000000\nTPH\tZone 5\tMeenakshi Energy\tKasi\tPower\tKrishnapatnam\tNone\tNone\t600000\nSales\tZone 6\tIL&FS\tSriram\tIPP\tKaraikal\tINDO\tINDO-4200 GAR\t450000\n*/', 'Dispatch_Market_Share': '\nCREATE TABLE "Dispatch_Market_Share" (\n\t"Zone" TEXT, \n\t"Port" TEXT, \n\t"Origin" TEXT, \n\t"Grade" FLOAT, \n\t"Updating Date" DATETIME, \n\t"AEL dispatch YTD (MT)" TEXT, \n\t"Competitor dispatch YTD (MT)" TEXT, \n\t"AEL dispatch Current Fortnight (MT)" TEXT, \n\t"Competitor dispatch current fortnight (MT)" TEXT, \n\t"Market share" FLOAT\n)\n\n/*\n3 rows from Dispatch_Market_Share table:\nZone\tPort\tOrigin\tGrade\tUpdating Date\tAEL dispatch YTD (MT)\tCompetitor dispatch YTD (MT)\tAEL dispatch Current Fortnight (MT)\tCompetitor dispatch current fortnight (MT)\tMarket share\nZone 7\tGPL\tINDO\tNone\t2024-12-05 00:00:00\t498967\t2375552\t27288\t159141\tNone\nZone 7\tGPL\tRSA\tNone\t2024-12-05 00:00:00\t6455161884\t3177533\t34053\t111166\tNone\nZone 7\tGPL\tAUS\tNone\t2024-12-05 00:00:00\t205036\t94471\t4446\t0\tNone\n*/', 'Input': '\nCREATE TABLE "Input" (\n\t"Input" TEXT, \n\t"Max Vessel Size" TEXT, \n\t"Ocean Frt" FLOAT, \n\t"Road Handling" FLOAT, \n\t"Rake Handing" FLOAT, \n\t"Indo Ocean Frt" FLOAT, \n\t"RSA Ocean Frt" FLOAT, \n\t"Aus Ocean Frt" FLOAT, \n\t"USA Ocean Frt" FLOAT\n)\n\n/*\n3 rows from Input table:\nInput\tMax Vessel Size\tOcean Frt\tRoad Handling\tRake Handing\tIndo Ocean Frt\tRSA Ocean Frt\tAus Ocean Frt\tUSA Ocean Frt\nKPT\tCape\t14.0\t475.0\t590.0\t8.0\t12.0\t12.0\t35.0\nKPT\tPanamax\tNone\tNone\tNone\t9.5\t13.75\t13.75\tNone\nGoa\tLightened cape\t15.5\t340.0\t435.0\t11.0\tNone\tNone\tNone\n*/', 'Meeting_Updates': '\nCREATE TABLE "Meeting_Updates" (\n\t"SI No." BIGINT, \n\t"Meeting Date" DATETIME, \n\t"Zone" TEXT, \n\t"Trader Name" TEXT, \n\t"Customer Name" TEXT, \n\t"Name of the person visited" TEXT, \n\t"Interaction" TEXT, \n\t"Action" TEXT\n)\n\n/*\n3 rows from Meeting_Updates table:\nSI No.\tMeeting Date\tZone\tTrader Name\tCustomer Name\tName of the person visited\tInteraction\tAction\n1\t2024-11-14 00:00:00\tZone 8\tSuraj\tMB Sponge / MB Ispat\tArvind Agarwal \tVisited their plant. They consume 44 FC domestic coal at a landed cost of ₹8,400. They are setting u\tExpected to be Offering 55NAR Cargo by Jan ’25.\n2\t2024-11-14 00:00:00\tZone 8\tSuraj\tCP Sponge\tKumar Chand Chawla\tVisited their plant. They currently consume 44 FC domestic coal at a landed cost of ₹8,400 for a 100\tDue to the softening price trend in sponge, the buyer intends to continue with domestic coal consump\n3\t2024-11-15 00:00:00\tZone 8\tSudesh\tRajshri Iron\tAbhishek Sharma\tVisited their Plant. Currently consumes 45 FC domestic coal @ landed cost of ₹ 8100 for a 200 TPD ki\tWe Offered 55NAR cargo at ₹ 10,450++ at Haldia from Dec ‘24 Ld vsl for road delivery. \xa0Buyer also op\n*/', 'Updates_&_Issues': '\nCREATE TABLE "Updates_&_Issues" (\n\t"Sr. No." BIGINT, \n\t"Zone" TEXT, \n\t"Particulars" TEXT, \n\t"Remarks" TEXT\n)\n\n/*\n3 rows from Updates_&_Issues table:\nSr. No.\tZone\tParticulars\tRemarks\n1\tZone 5\tSponge Sector\t1. Sponge price around Rs. 27000 - 28000 PMT. Demand has been increased, plants are running at profi\n2\tZone 5\tCement Sector\t1. No enquiry for US coal. Major Cement producers have covered with Pet coke for next 2 months\n\n2.Co\n3\tZone 5\tIPP\t1. Private IPPs already slowing down power production, due to low demand owning to monsoons and shif\n*/'}, 'sql_query': '```sql\nSELECT "Total Sales"\nFROM Budget\nWHERE "Business Segment" = \'Sales\'\n  AND "Zone" = \'Zone 6\'\n  AND "Customer Name" = \'Coastal Energen\'\n  AND "Discharge Port" = \'Tuticorin\';\n```', 'validated_sql': 'SELECT "Total Sales"\nFROM Budget\nWHERE "Business Segment" = \'Sales\'\n  AND "Zone" = \'Zone 6\'\n  AND "Customer Name" = \'Coastal Energen\'\n  AND "Discharge Port" = \'Tuticorin\';', 'result': "[('2000000',)]", 'chatbot_response': 'The total sales for Coastal Energy in Zone 6 with a discharge port at Tuticorin is $2,000,000. Would you like to know more about their sales performance or compare it with other zones?'}

In [51]:
user_query = "On 15 Nov 2024, What were the Action when Rajeev Dalmia Visited"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)
# Yes

Database selected: Meeting_Updates
Table selected: Meeting_Updates

Chatbot Response: {'query': 'On 15 Nov 2024, What were the Action when Rajeev Dalmia Visited', 'selected_db': 'Meeting_Updates', 'schema': {'Meeting_Updates': '\nCREATE TABLE "Meeting_Updates" (\n\t"SI No." TEXT, \n\t"Meeting Date" TEXT, \n\t"Zone" TEXT, \n\t"Trader Name" TEXT, \n\t"Customer Name" TEXT, \n\t"Name of the person visited" TEXT, \n\t"Interaction" TEXT, \n\t"Action" TEXT\n)\n\n/*\n3 rows from Meeting_Updates table:\nSI No.\tMeeting Date\tZone\tTrader Name\tCustomer Name\tName of the person visited\tInteraction\tAction\n1\t14-Nov-24\tZone 8\tSuraj\tMB Sponge / MB Ispat\tArvind Agarwal \tVisited their plant. They consume 44 FC domestic coal at a landed cost of ?8,400. They are setting u\tExpected to be Offering 55NAR Cargo by Jan \x9225.\n2\t14-Nov-24\tZone 8\tSuraj\tCP Sponge\tKumar Chand Chawla\tVisited their plant. They currently consume 44 FC domestic coal at a landed cost of ?8,400 for a 100\tDue to the softening price trend in sponge, the buyer intends to continue with domestic coal consump\n3\t15-Nov-24\tZone 8\tSudesh\tRajshri Iron\tAbhishek Sharma\tVisited their Plant. Currently consumes 45 FC domestic coal @ landed cost of ? 8100 for a 200 TPD ki\tWe Offered 55NAR cargo at ? 10,450++ at Haldia from Dec \x9124 Ld vsl for road delivery. \xa0Buyer also op\n*/'}, 'sql_query': '```sql\nSELECT "Action"\nFROM Meeting_Updates\nWHERE "Meeting Date" = \'15-Nov-24\'\n  AND "Name of the person visited" = \'Rajeev Dalmia\';\n```', 'validated_sql': 'SELECT "Action"\nFROM Meeting_Updates\nWHERE "Meeting Date" = \'15-Nov-24\'\n  AND "Name of the person visited" = \'Rajeev Dalmia\';', 'result': "[('Expected to operational by March 2025 so we can offer 55NAR cargo from Haldia/Dhamra',)]", 'chatbot_response': "It looks like you're looking for information about Rajeev Dalmia's visit on November 15, 2024. According to the notes, when he visited, it was expected that operations would be up and running by March 2025, which would allow for cargo transportation from Haldia/Dhamra. Would you like me to clarify anything else about this?"}

In [52]:
user_query = "What are the remarks Particular for Cement Sector"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)
# No

Database selected: Zone_Excel
Table selected: Updates_&_Issues

Chatbot Response: {'query': 'What are the remarks Particular for Cement Sector', 'selected_db': 'Zone_Excel', 'schema': {'Budget': '\nCREATE TABLE "Budget" (\n\t"Business Segment" TEXT, \n\t"Zone" TEXT, \n\t"Customer Name" TEXT, \n\t"Trader" TEXT, \n\t"Industry Segment" TEXT, \n\t"Discharge Port" TEXT, \n\t"Load Port Country" TEXT, \n\t"Grade" TEXT, \n\t"Total Sales" TEXT\n)\n\n/*\n3 rows from Budget table:\nBusiness Segment\tZone\tCustomer Name\tTrader\tIndustry Segment\tDischarge Port\tLoad Port Country\tGrade\tTotal Sales\nSales\tZone 6\tCoastal Energen\tSwamy\tIPP\tTuticorin\tINDO\tINDO-4200 GAR\t2000000\nTPH\tZone 5\tMeenakshi Energy\tKasi\tPower\tKrishnapatnam\tNone\tNone\t600000\nSales\tZone 6\tIL&FS\tSriram\tIPP\tKaraikal\tINDO\tINDO-4200 GAR\t450000\n*/', 'Dispatch_Market_Share': '\nCREATE TABLE "Dispatch_Market_Share" (\n\t"Zone" TEXT, \n\t"Port" TEXT, \n\t"Origin" TEXT, \n\t"Grade" FLOAT, \n\t"Updating Date" DATETIME, \n\t"AEL dispatch YTD (MT)" TEXT, \n\t"Competitor dispatch YTD (MT)" TEXT, \n\t"AEL dispatch Current Fortnight (MT)" TEXT, \n\t"Competitor dispatch current fortnight (MT)" TEXT, \n\t"Market share" FLOAT\n)\n\n/*\n3 rows from Dispatch_Market_Share table:\nZone\tPort\tOrigin\tGrade\tUpdating Date\tAEL dispatch YTD (MT)\tCompetitor dispatch YTD (MT)\tAEL dispatch Current Fortnight (MT)\tCompetitor dispatch current fortnight (MT)\tMarket share\nZone 7\tGPL\tINDO\tNone\t2024-12-05 00:00:00\t498967\t2375552\t27288\t159141\tNone\nZone 7\tGPL\tRSA\tNone\t2024-12-05 00:00:00\t6455161884\t3177533\t34053\t111166\tNone\nZone 7\tGPL\tAUS\tNone\t2024-12-05 00:00:00\t205036\t94471\t4446\t0\tNone\n*/', 'Input': '\nCREATE TABLE "Input" (\n\t"Input" TEXT, \n\t"Max Vessel Size" TEXT, \n\t"Ocean Frt" FLOAT, \n\t"Road Handling" FLOAT, \n\t"Rake Handing" FLOAT, \n\t"Indo Ocean Frt" FLOAT, \n\t"RSA Ocean Frt" FLOAT, \n\t"Aus Ocean Frt" FLOAT, \n\t"USA Ocean Frt" FLOAT\n)\n\n/*\n3 rows from Input table:\nInput\tMax Vessel Size\tOcean Frt\tRoad Handling\tRake Handing\tIndo Ocean Frt\tRSA Ocean Frt\tAus Ocean Frt\tUSA Ocean Frt\nKPT\tCape\t14.0\t475.0\t590.0\t8.0\t12.0\t12.0\t35.0\nKPT\tPanamax\tNone\tNone\tNone\t9.5\t13.75\t13.75\tNone\nGoa\tLightened cape\t15.5\t340.0\t435.0\t11.0\tNone\tNone\tNone\n*/', 'Meeting_Updates': '\nCREATE TABLE "Meeting_Updates" (\n\t"SI No." BIGINT, \n\t"Meeting Date" DATETIME, \n\t"Zone" TEXT, \n\t"Trader Name" TEXT, \n\t"Customer Name" TEXT, \n\t"Name of the person visited" TEXT, \n\t"Interaction" TEXT, \n\t"Action" TEXT\n)\n\n/*\n3 rows from Meeting_Updates table:\nSI No.\tMeeting Date\tZone\tTrader Name\tCustomer Name\tName of the person visited\tInteraction\tAction\n1\t2024-11-14 00:00:00\tZone 8\tSuraj\tMB Sponge / MB Ispat\tArvind Agarwal \tVisited their plant. They consume 44 FC domestic coal at a landed cost of ₹8,400. They are setting u\tExpected to be Offering 55NAR Cargo by Jan ’25.\n2\t2024-11-14 00:00:00\tZone 8\tSuraj\tCP Sponge\tKumar Chand Chawla\tVisited their plant. They currently consume 44 FC domestic coal at a landed cost of ₹8,400 for a 100\tDue to the softening price trend in sponge, the buyer intends to continue with domestic coal consump\n3\t2024-11-15 00:00:00\tZone 8\tSudesh\tRajshri Iron\tAbhishek Sharma\tVisited their Plant. Currently consumes 45 FC domestic coal @ landed cost of ₹ 8100 for a 200 TPD ki\tWe Offered 55NAR cargo at ₹ 10,450++ at Haldia from Dec ‘24 Ld vsl for road delivery. \xa0Buyer also op\n*/', 'Updates_&_Issues': '\nCREATE TABLE "Updates_&_Issues" (\n\t"Sr. No." BIGINT, \n\t"Zone" TEXT, \n\t"Particulars" TEXT, \n\t"Remarks" TEXT\n)\n\n/*\n3 rows from Updates_&_Issues table:\nSr. No.\tZone\tParticulars\tRemarks\n1\tZone 5\tSponge Sector\t1. Sponge price around Rs. 27000 - 28000 PMT. Demand has been increased, plants are running at profi\n2\tZone 5\tCement Sector\t1. No enquiry for US coal. Major Cement producers have covered with Pet coke for next 2 months\n\n2.Co\n3\tZone 5\tIPP\t1. Private IPPs already slowing down power production, due to low demand owning to monsoons and shif\n*/'}, 'sql_query': "```sql\nSELECT Remarks \nFROM Updates_&_Issues \nWHERE Zone = 'Zone 5' AND Particulars = 'Cement Sector';\n```", 'validated_sql': "SELECT Remarks \nFROM Updates_&_Issues \nWHERE Zone = 'Zone 5' AND Particulars = 'Cement Sector';", 'result': 'Error: (sqlite3.OperationalError) near "&": syntax error\n[SQL: SELECT Remarks \nFROM Updates_&_Issues \nWHERE Zone = \'Zone 5\' AND Particulars = \'Cement Sector\';]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'chatbot_response': "It looks like there's been an issue with the database query. I'm not able to retrieve any information about remarks for the Cement Sector in Zone 5.\n\nThe error message is indicating that there might be some special characters or formatting issues with the SQL query itself, rather than a problem with the data. Let me try rephrasing the question and see if we can get a better result. Can I try searching for general information about remarks related to the Cement Sector?"}

In [53]:
user_query = "Give me all the Customer Name of Zone 5"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)

Database selected: Customer_Portfolio
Table selected: Customer_Portfolio

Chatbot Response: {'query': 'Give me all the Customer Name of Zone 5', 'selected_db': 'Customer_Portfolio', 'schema': {'Customer_Portfolio': '\nCREATE TABLE "Customer_Portfolio" (\n\t"S. No." BIGINT, \n\t"Zone" TEXT, \n\t"Account" TEXT, \n\t"Customer name" TEXT, \n\t"Category" TEXT, \n\t"Industry" TEXT, \n\t"Industry Type" TEXT, \n\t"Buying from " TEXT, \n\t"Plant location" TEXT, \n\t"Cluster location" TEXT, \n\t"State" TEXT, \n\t"1st Port" TEXT, \n\t"2nd Port" TEXT, \n\t"Logistic diff (2nd port - 1st port)" FLOAT, \n\t"Current Sponge Capacity (TPD)" FLOAT, \n\t"Expansion Capacity Current FY (TPD)" FLOAT, \n\t"Kiln Units Breakup " TEXT, \n\t"Cement Capacity (MTPA)" TEXT, \n\t"Power Capacity (MW)" TEXT, \n\t"Others/Ex Stock/FOR" TEXT, \n\t"Type of coal " TEXT, \n\t"Origin" TEXT, \n\t"Grade 1" TEXT, \n\t"Imported coal reqmnt (MTPA)" TEXT, \n\t"Domestic coal reqmnt (MTPA)" FLOAT, \n\t"Domestic mine name ( If applicable)" TEXT, \n\t"Domestic Grade ( If applicable)" TEXT, \n\t"Lifting mode" TEXT, \n\t"Customer Siding Code" TEXT, \n\t"Plant to Port Distance (By Road)" TEXT, \n\t"Specific Terms (if any)" TEXT\n)\n\n/*\n3 rows from Customer_Portfolio table:\nS. No.\tZone\tAccount\tCustomer name\tCategory\tIndustry\tIndustry Type\tBuying from \tPlant location\tCluster location\tState\t1st Port\t2nd Port\tLogistic diff (2nd port - 1st port)\tCurrent Sponge Capacity (TPD)\tExpansion Capacity Current FY (TPD)\tKiln Units Breakup \tCement Capacity (MTPA)\tPower Capacity (MW)\tOthers/Ex Stock/FOR\tType of coal \tOrigin\tGrade 1\tImported coal reqmnt (MTPA)\tDomestic coal reqmnt (MTPA)\tDomestic mine name ( If applicable)\tDomestic Grade ( If applicable)\tLifting mode\tCustomer Siding Code\tPlant to Port Distance (By Road)\tSpecific Terms (if any)\n1\tZone 5\tKasi\t Adani Wilmar \tEnd User\tRetail/Other\tRetail\tBoth\tPentapalam\tKrishnapatnam\tAndhra Pradesh\tKPT\tEnnore\t460.0\t0.0\t0.0\tNone\t0.00\t0.00\tFOR\tSteam Coal\tINDO\t4800\t 24,000 \t0.0\tNone\tNone\tRoad\tNone\tNone\tNone\n2\tZone 5\tKasi\t Ambey Metallics \tEnd User\tSponge\tSponge\tBoth\tPissurlem Goa\tGoa\tGoa\t Goa \tNMPT\t464.8\t100.0\t0.0\t1*100\t0.00\t0.00\tOthers\tSteam Coal\tRSA\tRB2 \t 36,000 \t0.0\tNone\tNone\tRoad\tNone\tNone\tNone\n3\tZone 5\tKasi\t BMM Ispat \tEnd User\tSponge\tSponge\tBoth\tDhanapur\tBellary\tKarnataka\t Goa \tNMPT\t210.2\t2000.0\t0.0\t4*500\t0.00\t230.00\tEx Stock\tSteam Coal\tRSA\tRB2 \t 6,00,000 \t0.0\tNone\tNone\tRake\tNone\tNone\tNone\n*/'}, 'sql_query': '```sql\nSELECT "Customer name" \nFROM Customer_Portfolio \nWHERE Zone = \'Zone 5\';\n```', 'validated_sql': 'SELECT "Customer name" \nFROM Customer_Portfolio \nWHERE Zone = \'Zone 5\';', 'result': "[(' Adani Wilmar ',), (' Ambey Metallics ',), (' BMM Ispat ',), (' Grasim Harihar ',), (' Grasim Karwar',), (' Renuka sugars ',), (' Shamnur Sugars ',), (' Shraddha Ispat ',), (' Shreya Logistics ',), (' Shri Balaji Rolling Mill ',), (' Simhapuri Energy ',), (' Sundar Enterprises ',), (' Vasavadutta Cements',), (' West Coast Paper Mill ',), ('A J Coal Pvt Ltd',), ('A One Steels',), ('Adam And Coal Resources Pvt Ltd (Icl)',), ('Agarwal Coal Company',), ('Agarwal Sponge Energy',), ('Ambey Iron',), ('Anand Metalics',), ('Andhra Cements',), ('Anupam Fuels',), ('Apple Ind ',), ('Baba Akhila Sai Jyothi',), ('Bhadrashree Sponge',), ('Bilaksaria ',), ('BIOP Steels',), ('Black Gold International Pvt Ltd',), ('Chakkra Coal India Pvt Ltd',), ('Chettinad Cement Corporation Ltd',), ('Chettinad Cement Corporation Ltd',), ('Coastal Exim',), ('Dalmia Cement',), ('Dalmia Cement',), ('Deccen Cements Ltd',), ('Devi Traders',), ('Dhruvdesh Metasteels',), ('Divya Jyothi',), ('Elite Naturals',), ('Garuda Coal Agency',), ('Hanuman Traders',), ('Hindustan Calcined',), ('Hothur Ispat',), ('ILC Iron & Steels',), ('Interocean ',), ('Jairaj Ispat',), ('Janki / Transcoal',), ('Jeevaka Industries Pvt Ltd',), ('JR Metal',), ('JSW Cements Ltd',), ('JSW Energy Ltd',), ('JSW International Tradecorp Pte. Ltd.',), ('Kesari Nandan',), ('Koppal Steels',), ('Kriyas',), ('Kumar Metallurgical',), ('Mahama0v Ispat',), ('Maruti Ispat/ MS Agarwal ',), ('Minera Steels',), ('MPL Steels',), ('MS Metals',), ('MTC Business Pvt Ltd',), ('My Home Industries Industries Pvt Ltd',), ('My Home Industries Industries Pvt Ltd',), ('My Home Industries Industries Pvt Ltd',), ('Neerajaksha Iron /Siri Impex',), ('OFB Tech Pvt Ltd',), ('Om Shiva Shakti Iron Industries Pvt Ltd',), ('Orient Cement Ltd',), ('Orient Cement Ltd',), ('Padmanabh Ispat (Goa Minerals / RPA Ferro )/VLP Entp',), ('Parasakti Cement',), ('Penna Cements',), ('Penna Cements',), ('Penna Cements',), ('Penna Cements',), ('PGM Ferro',), ('Pioneer Aluminum',), ('Popuri Steels',), ('Pushpit Steels Pvt Ltd',), ('Rain Cements Ltd',), ('Rain Cements Ltd',), ('Rangineni Steels',), ('RAV Steels/Mineral Miner Trader/ Ramanjineya Ispat',), ('Rayen Steels',), ('Reactive Metals',), ('Renuka Enterprises',), ('Rupak Enterprises',), ('S J International Trading',), ('S N Coal Agency',), ('Sagar Cements Ltd',), ('Sagar Cements Ltd',), ('Sagar Cements Ltd',), ('Sagar Cements Ltd',), ('Sagar Cements Ltd',), ('Sai Balaji sponge',), ('Sai Pavan Ispat',), ('Sai Vijaya Pragati',), ('Samarth Coal Corporation',), ('SEIL Energy India Limited',), ('Shri Sai Saptagiri,',), ('SK Steel Tech',), ('SLV Steels',), ('Sree jayajothi Cements Pvt Ltd',), ('Sri Bhadrasri Steels',), ('Sri Kanakadurga Steels',), ('Sri Kanakadurga Steels',), ('Sri Krishna Minerals',), ('Sri Rama Steels & Coal',), ('Sri Sai Surya Enterprises',), ('Sri Venkateshwara Sponge Iron',), ('Sugna Sponge',), ('Sunrise Ind',), ('Sunvik Steels',), ('Suvan Steels',), ('Swastik Steels, Koppal/Tushar steels0',), ('Tanush steels ',), ('Tanush steels Unit 2',), ('Tara Enterprises',), ('Texcom Steels',), ('TGV SAARC',), ('The India Cements Ltd',), ('The India Cements Ltd',), ('The India Cements Ltd',), ('The India Cements Ltd',), ('The KCP Ltd',), ('The KCP Ltd',), ('The Ramco Cements Ltd',), ('The Ramco Cements Ltd',), ('Tirumala Enterprises',), ('Tirupati steel cast',), ('Toshiniwal Mierals',), ('Trivista Steels 0 (A One steels,)',), ('Tunics Sponge',), ('Vamshadhara Paper Mills Ltd',), ('Vanya Steels 0 (A One Steels)',), ('Venus Enterprises',), ('Vicat Kalburgi',), ('Vicat0 Barathi',), ('VIjayanagar Sugars',), ('Vinayak Steels Ltd',), ('Vinayak Steels Ltd',), ('Vishnu Barium Ltd',), ('VP Associates',), ('VRKP Sponge & Power',), ('Xindia Steels',), ('Yasin Impex India Pvt Ltd',), ('Yeshasvi Steels',), ('Zuari Cement Ltd',), ('Zuari Cement Ltd',)]", 'chatbot_response': 'Here\'s a natural conversational response:\n\n"Okay, I\'ve got the list of Customer Names for Zone 5. It looks like we have a total of 59 customers in this zone. Let me break it down for you:\n\nWe have companies like Adani Wilmar, Ambey Metallics, BMM Ispat, and many more. There are also some well-known brands like Grasim Harihar, JSW Cements Ltd, and The India Cements Ltd.\n\nIf you\'d like to get a specific customer\'s information or filter the list by any particular criteria, just let me know! I\'m here to help."'}

In [54]:
user_query = "What is the average aging of all stocks of Zone 1"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)
# Yes

Database selected: Stock_Ageing
Table selected: Stock_Ageing

Chatbot Response: {'query': 'What is the average aging of all stocks of Zone 1', 'selected_db': 'Stock_Ageing', 'schema': {'Stock_Ageing': '\nCREATE TABLE "Stock_Ageing" (\n\t"Date of updating" TEXT, \n\t"Zone" TEXT, \n\t"Port" TEXT, \n\t"Origin" TEXT, \n\t"Grade" TEXT, \n\t"Remarks" TEXT, \n\t"Vessel Name" TEXT, \n\t"Arrival Date " TEXT, \n\t"Discharge Completion Date" TEXT, \n\t"B/L Qty (MT)" TEXT, \n\t"Dispatch Qty till date (MT)" TEXT, \n\t"Today\'s stock" TEXT, \n\t"Aging" FLOAT, \n\t"Type" TEXT\n)\n\n/*\n3 rows from Stock_Ageing table:\nDate of updating\tZone\tPort\tOrigin\tGrade\tRemarks\tVessel Name\tArrival Date \tDischarge Completion Date\tB/L Qty (MT)\tDispatch Qty till date (MT)\tToday\'s stock\tAging\tType\n6-Dec-24\tZone 1\tTUNA\tUSA\tUS (6900)-401\tNone\tMV MARAN MARINER\t11-May-24\t24-May-24\t1,23,712\t1,08,776\t14,936\t192.0\tSNS\n6-Dec-24\tZone 1\tTUNA\tUSA\tUS (6900)-401\tNone\tMV KM OSAKA\t12-Jul-24\t13-Jul-24\t66,137\t0\t66,137\t142.0\tSNS\n6-Dec-24\tZone 1\tTUNA\tUSA\tUS (6900)-401\tNone\tMV FLAG SEAMAN\t22-07-24\t28-Jul-24\t1,22,180\t0\t1,22,180\t127.0\tSNS\n*/'}, 'sql_query': "```sql\nSELECT AVG(T1.Aging) \nFROM Stock_Ageing AS T1 \nWHERE T1.Zone = 'Zone 1'\n```", 'validated_sql': "SELECT AVG(T1.Aging) \nFROM Stock_Ageing AS T1 \nWHERE T1.Zone = 'Zone 1'", 'result': '[(133.0,)]', 'chatbot_response': "The average age of all stock in Zone 1 is approximately 133 years! That's quite impressive (or perhaps concerning?) for a zone that's likely home to many long-lived and possibly iconic stocks. Would you like me to break down the data further or compare it with other zones?"}

In [55]:
user_query = "What is the action for 14 Nov 2024 in Zone 8  with Customer CB Sponge"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)
# No

Database selected: Meeting_Updates
Table selected: Meeting_Updates

Chatbot Response: {'query': 'What is the action for 14 Nov 2024 in Zone 8  with Customer CB Sponge', 'selected_db': 'Meeting_Updates', 'schema': {'Meeting_Updates': '\nCREATE TABLE "Meeting_Updates" (\n\t"SI No." TEXT, \n\t"Meeting Date" TEXT, \n\t"Zone" TEXT, \n\t"Trader Name" TEXT, \n\t"Customer Name" TEXT, \n\t"Name of the person visited" TEXT, \n\t"Interaction" TEXT, \n\t"Action" TEXT\n)\n\n/*\n3 rows from Meeting_Updates table:\nSI No.\tMeeting Date\tZone\tTrader Name\tCustomer Name\tName of the person visited\tInteraction\tAction\n1\t14-Nov-24\tZone 8\tSuraj\tMB Sponge / MB Ispat\tArvind Agarwal \tVisited their plant. They consume 44 FC domestic coal at a landed cost of ?8,400. They are setting u\tExpected to be Offering 55NAR Cargo by Jan \x9225.\n2\t14-Nov-24\tZone 8\tSuraj\tCP Sponge\tKumar Chand Chawla\tVisited their plant. They currently consume 44 FC domestic coal at a landed cost of ?8,400 for a 100\tDue to the softening price trend in sponge, the buyer intends to continue with domestic coal consump\n3\t15-Nov-24\tZone 8\tSudesh\tRajshri Iron\tAbhishek Sharma\tVisited their Plant. Currently consumes 45 FC domestic coal @ landed cost of ? 8100 for a 200 TPD ki\tWe Offered 55NAR cargo at ? 10,450++ at Haldia from Dec \x9124 Ld vsl for road delivery. \xa0Buyer also op\n*/'}, 'sql_query': '```sql\nSELECT Action \nFROM Meeting_Updates \nWHERE "Meeting Date" = \'14-Nov-24\' AND Zone = \'Zone 8\' AND Customer Name = \'CB Sponge\';\n```', 'validated_sql': 'SELECT Action \nFROM Meeting_Updates \nWHERE "Meeting Date" = \'14-Nov-24\' AND Zone = \'Zone 8\' AND Customer Name = \'CB Sponge\';', 'result': 'Error: (sqlite3.OperationalError) near "Name": syntax error\n[SQL: SELECT Action \nFROM Meeting_Updates \nWHERE "Meeting Date" = \'14-Nov-24\' AND Zone = \'Zone 8\' AND Customer Name = \'CB Sponge\';]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'chatbot_response': 'It looks like there\'s been an issue with the database query. I\'m getting an error message that says there\'s a syntax problem with the SQL code.\n\nLet me take another look at it... Ah, yes! It seems like the issue is with the column name "Customer Name". In SQL, column names can\'t have spaces in them. It looks like we need to adjust the query to use a different column name that doesn\'t have any spaces.\n\nWould you like me to try running the query again with some adjustments?'}

In [ ]:
user_query = "What is the time taken between sjq arrival and sjq departure for vehicle id = 51154"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)

Database selected: atmspl_trip_details
Table selected: atmspl_trip_details

In [ ]:
user_query = "How many Sales & Enquiry are concluded"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)
# No

Database selected: Sales_&_Enquiry
Table selected: Sales_&_Enquiry

Chatbot Response: {'query': 'How many Sales & Enquiry are concluded', 'selected_db': 'Sales_&_Enquiry', 'schema': {'Sales_&_Enquiry': '\nCREATE TABLE "Sales_&_Enquiry" (\n\t"S. No" BIGINT, \n\t"FY" TEXT, \n\t"Enquiry Month" TEXT, \n\t"Zone" TEXT, \n\t"Trader Name" TEXT, \n\t"Status (Concluded/Lost/Dropped)" TEXT, \n\t"Name of the Customer" TEXT, \n\t"Trader/End User" TEXT, \n\t"Date" TEXT, \n\t"Enquiry Qty (MT)" FLOAT, \n\t"Grade" TEXT, \n\t"Low/Mid/High" TEXT, \n\t"Origin" TEXT, \n\t"Concluded basis " TEXT, \n\t"Concluded port" TEXT, \n\t"Supplier Name" TEXT, \n\t"Concluded Rate (Rs/$)" TEXT, \n\t"Concluded Cargo" TEXT, \n\t"Discounted sector (Yes/No)" TEXT, \n\t"Discounted sector(Name)" TEXT, \n\t"Adani Offered Rate" TEXT, \n\t"Adani Offered Cargo" TEXT, \n\t"Competitor Concluded Rate" TEXT, \n\t"Deal with Adani/Non Adani" TEXT, \n\t"Concluded With (Competitor)" TEXT, \n\t"Reason" TEXT, \n\t"Detailed Reasons if any" TEXT, \n\t"Remarks 1" FLOAT, \n\t"Remarks 2" FLOAT\n)\n\n/*\n3 rows from Sales_&_Enquiry table:\nS. No\tFY\tEnquiry Month\tZone\tTrader Name\tStatus (Concluded/Lost/Dropped)\tName of the Customer\tTrader/End User\tDate\tEnquiry Qty (MT)\tGrade\tLow/Mid/High\tOrigin\tConcluded basis \tConcluded port\tSupplier Name\tConcluded Rate (Rs/$)\tConcluded Cargo\tDiscounted sector (Yes/No)\tDiscounted sector(Name)\tAdani Offered Rate\tAdani Offered Cargo\tCompetitor Concluded Rate\tDeal with Adani/Non Adani\tConcluded With (Competitor)\tReason\tDetailed Reasons if any\tRemarks 1\tRemarks 2\n1\tFY 24-25\tApril\'24\tZone 6\tSriram\tLost\tCHETTINAD CEMENT CORPORATION LTD\tEnd User\t26-Mar-24\t50000.0\tKBB (3400) - 3510\tLOW\tIndo \tOTHERS \tKaraikal\tENR\tUSD 49.50\tINDO 34\tNO\tNO\tNO CARGO\tNO CARGO\tNone\tNon Adani\tNone\tCargo not available\tNO CARGO\tNone\tNone\n2\tFY 24-25\tApril\'24\tZone 6\tSriram\tLost\tCHETTINAD CEMENT CORPORATION LTD\tEnd User\t26-Mar-24\t50000.0\tPTBA (5000) - 3323\tHIGH\tIndo \tOTHERS \tKaraikal\tENR\tUSD 81.50\tIndo 5000 \tNO\tNO\tUSD 97.5\tIndo 50\tNone\tNon Adani\tNone\tPrice\tPricing\tNone\tNone\n3\tFY 24-25\tMay\'24\tZone 5\tSriram\tLost\tJSW ENERGY LTD\tNone\t28-Mar-24\t150000.0\tRUS 6000\tHIGH\tRussia\tOTHERS \tJaigad\tNone\tUSD 102\tRus 6000\tNO\tNO\tUSD 87.05\tIndo 50\tNone\tNon Adani\tNone\tPrice\tPricing\tNone\tNone\n*/'}, 'sql_query': "```sql\nSELECT COUNT(*)\nFROM Sales_&_Enquiry\nWHERE Status (Concluded/Lost/Dropped) = 'Concluded';\n```", 'validated_sql': "SELECT COUNT(*)\nFROM Sales_&_Enquiry\nWHERE Status = 'Concluded';", 'result': 'Error: (sqlite3.OperationalError) near "&": syntax error\n[SQL: SELECT COUNT(*)\nFROM Sales_&_Enquiry\nWHERE Status = \'Concluded\';]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'chatbot_response': 'It looks like there\'s been an issue with the SQL query. The error message is saying that it doesn\'t recognize the "&" symbol in the table name "Sales_&_Enquiry". This is likely because SQLite (the database system being used) doesn\'t allow special characters like "_" and "&" to be used directly in table names.\n\nLet me try rephrasing your question to see if we can get a more accurate answer. Can you tell me what you\'re trying to find out? Are you looking for the number of sales or enquiries that have been concluded, perhaps?'}

In [ ]:
user_query = "How many transporter are ATMSL?"
result = executor.invoke(QueryState(query=user_query))
print("\nChatbot Response:", result)

Database selected: atmspl_trip_details

Chatbot Response: {'query': 'How many transporter are ATMSL?', 'selected_db': 'atmspl_trip_details', 'schema': {'atmspl_trip_details': '\nCREATE TABLE atmspl_trip_details (\n\tsn BIGINT, \n\ttransporter TEXT, \n\tid BIGINT, \n\tvehicle_id BIGINT, \n\ttrip_date TEXT, \n\tvehicle_type TEXT, \n\tvehicle BIGINT, \n\twagon_no FLOAT, \n\tn_box_no TEXT, \n\tengine_no TEXT, \n\trake_no BIGINT, \n\tfnr_no BIGINT, \n\tcoal_type TEXT, \n\tdestination TEXT, \n\tlast_siding_location TEXT, \n\tno_of_extraneous_wagon BIGINT, \n\tdevice_attachment_location TEXT, \n\tsjq_arrival TEXT, \n\tsjq_departure TEXT, \n\tsjq_idle_hrs FLOAT, \n\tavg_speed_sjq_pasla FLOAT, \n\tempty_pasla_in TEXT, \n\tempty_pasla_out TEXT, \n\tempty_pasla_gap FLOAT, \n\tavg_speed_pasla_sonpur FLOAT, \n\tempty_sonpur_in TEXT, \n\tavg_speed_ramanujnagar_sonpur FLOAT, \n\tround_trip_distance FLOAT, \n\tround_trip_duration BIGINT, \n\tcomments TEXT, \n\tis_internal TEXT\n)\n\n/*\n3 rows from atmspl_trip_details table:\nsn\ttransporter\tid\tvehicle_id\ttrip_date\tvehicle_type\tvehicle\twagon_no\tn_box_no\tengine_no\trake_no\tfnr_no\tcoal_type\tdestination\tlast_siding_location\tno_of_extraneous_wagon\tdevice_attachment_location\tsjq_arrival\tsjq_departure\tsjq_idle_hrs\tavg_speed_sjq_pasla\tempty_pasla_in\tempty_pasla_out\tempty_pasla_gap\tavg_speed_pasla_sonpur\tempty_sonpur_in\tavg_speed_ramanujnagar_sonpur\tround_trip_distance\tround_trip_duration\tcomments\tis_internal\n4\tATMSL\t10036288\t51053\t01-07-2024\tRake\t90759084\t22121447472.0\tSGNE 109\t32721\t16077\t24063014655\tWashed\tChhabra\tNone\t0\tSJQ Surajpur\t01-07-2024 09:30\t01-07-2024 09:33\t3.0\t12.0\t01-07-2024 09:34\t01-07-2024 09:38\t3.0\t47.14\t01-07-2024 09:52\t52.88\t166.52\t3748\tDevice Installed\tYes\n2\tATMSL\t10036353\t51169\t01-07-2024\tRake\t92428571\t12160530938.0\t849\t31306\t16074\t24063014549\tWashed\tKalisindh\tNone\t0\tSJQ Surajpur\t01-07-2024 06:59\t01-07-2024 07:02\t2.0\t12.0\t01-07-2024 07:03\t01-07-2024 07:06\t3.0\t55.0\t01-07-2024 07:19\t52.88\t158.87\t640\tDevice Installed\tYes\n3\tATMSL\t10036984\t51154\t01-07-2024\tRake\t92435345\t10079671919.0\t860\t60409\t16076\t24063014619\tWashed\tChhabra\tNone\t0\tSJQ Surajpur\t01-07-2024 08:29\t01-07-2024 08:32\t3.0\t12.0\t01-07-2024 08:34\t01-07-2024 08:37\t3.0\t55.0\t01-07-2024 08:49\t47.0\t156.21\t764\tDevice Installed\tYes\n*/'}, 'sql_query': "```sql\nSELECT COUNT(sn)\nFROM atmspl_trip_details\nWHERE transporter = 'ATMSL';\n```", 'validated_sql': "SELECT COUNT(sn)\nFROM atmspl_trip_details\nWHERE transporter = 'ATMSL';", 'result': '[(4,)]', 'chatbot_response': 'The number of transporters that are ATMSL is 4. Would you like to know more about what ATMSL means or how these transporters operate?'}

In [ ]:
'''
In which district, Suratgarh Junction is located in Landmarks? HANUMANGARH
What is the total running average speed of all TPS in TPS Trips? 21.35km/h
How many transporter are ATMSL? 4
'''

'\nIn which district, Suratgarh Junction is located in Landmarks? HANUMANGARH\nWhat is the total running average speed of all TPS in TPS Trips? 21.35km/h\nHow many transporter ar ATMSL? \n'